<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@900&family=Poppins:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <a href="{{ url_for('index') }}">
            <img class="header__logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logotipo">
        </a>
        <nav class="navegacion">

            <a class="navegacion__enlace navegacion__enlace" href="{{ url_for('index') }}">Tienda</a>
            <a class="navegacion__enlace navegacion__enlace" href="{{ url_for('nosotros') }}">Nosotros</a>
            <a class="navegacion__enlace navegacion__enlace" href="{{ url_for('contactanos') }}">Contacto</a>
            <p>|</p>
            {% if 'usuario' in session %}

            <a class="navegacion__enlace" href="{{ url_for('logout') }}">

                <i class='bx bx-log-out'></i>


            </a>

            {% else %}

            <a class="navegacion__enlace" href="{{ url_for('logIn') }}">

                <i class='bx bx-user'></i>


            </a>

            {% endif %}
            <a class="navegacion__enlace--activo" href="{{ url_for('ver_carrito') }}">
                <i class='bx bx-cart'></i>
            </a>
        </nav>
    </header>

    <main class="contenedor">
        <h2>TU CARRITO</h2>
        <!-- En tu sección del carrito -->
        {% if carrito %}
        <form action="{{ url_for('hacer_pedido') }}" method="POST">
            <ul>
                {% for producto in carrito %}
                <li>
                    <div class="text">

                        <img src="{{ url_for('static', filename=producto.imagen) }}" width="100">

                        {{ producto.nombre }} - ${{ producto.precioActual }}

                        <input type="hidden" name="producto_id" value="{{ producto.id }}">

                        <a href="{{ url_for('eliminar_carrito', indice=loop.index0) }}" class="btn-eliminar">
                            <i class="fa-solid fa-trash"></i>
                        </a>

                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="campo">
                <i class="bx bxs-user"></i>
                <input type="text" placeholder="Ingresa domicilio" name="domicilio" required>
            </div>

            <p class="total"><strong>Total:</strong> ${{ total }}</p>
            <input type="hidden" name="total" value="{{ total }}">
            <button type="submit">Hacer pedido</button>
        </form>
        {% else %}
        <p>El carrito está vacío.</p>
        {% endif %}
    </main>

    <footer class="footer">
        <p class="footer__texto">© SYSTEM1% - Todos los derechos reservados 2026</p>
    </footer>
</body>

</html>