<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body >

    <header class="header">
        <a href="{{ url_for('index') }}">
            <img class="header__logo"
                 src="{{ url_for('static', filename='logo.png') }}"
                 alt="Logotipo">
        </a>
        <nav>
            <nav class="navegacion">

            <a class="navegacion__enlace navegacion__enlace" href="{{ url_for('index') }}">Tienda</a>
            <a class="navegacion__enlace navegacion__enlace" href="{{ url_for('nosotros') }}">Nosotros</a>
            <a class="navegacion__enlace navegacion__enlace" href="{{ url_for('contactanos') }}">Contacto</a>
            <p>|</p>
            <a class="navegacion__enlace--activo" href="{{ url_for('logIn') }}">
                <i class="bx bx-user"></i>
            </a>
        </nav>
    </header>

    <main>
        <div class="contenedorLogIn">

            <h1>Login</h1>

            <form method="post">

                <div class="campo">
                    <i class='bx bx-envelope'></i>

                    <input type="email"
                           placeholder="Email"
                           name="email"
                           required>
                </div>

                <div class="campo">
                    <i class='bx bxs-lock-alt'></i>

                    <input type="password"
                           placeholder="Password"
                           name="contrasena"
                           required>
                </div>

                <button type="submit">
                    Iniciar sesión
                </button>

                <p class="registro">
                    ¿No tienes una cuenta?
                    <a href="{{ url_for('singup') }}">
                        Registrar
                    </a>
                </p>

            </form>

        </div>

    </main>

    <footer class="footer">
        <p class="footer__texto"> © SYSTEM1% - Todos los derechos reservados 2026</p>
    </footer>
</body>

</html>
